@font-face {
  font-family: Inter;
  src: url("../src/assets/fonts/Inter_18pt-Regular.ttf");
}
@font-face {
  font-family: Lora;
  src: url("../src/assets/fonts/Lora-Regular.ttf");
}
@font-face {
  font-family: Dance;
  src: url("../src/assets/fonts/DancingScript-SemiBold.ttf");
}

@import "tailwindcss";

@theme{
  --font-inter: Inter;
  --font-lora: Lora;
  --font-dance: Dance
}

.change {
  will-change: filter;
  transition: filter 300ms;
}

.change:hover{
  filter: drop-shadow(0 0 2em #f15c07aa);
  cursor: pointer;
}

body{
  /* background-color: #262a33; */
  background: radial-gradient(#333333, #111)
}



::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: #4b5563; /* Tailwind gray-600 */
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background: #1f2937; /* Tailwind gray-800 */
}



/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */


